.navBarContainer {
    overflow: hidden;
}

.outletContainer {
    width: 100vw;
    padding-left: 3vw;
}

.contentContainer {
    display: flex;
    flex-direction: row;
    gap: 1vw;
    padding: 1vw;
    width: 100%;
}